<div>
  <% if @user.ratings.empty? %>
  Has not yet made ratings
  <% else %>
  <%= @user.username %>
  Has made <%= pluralize(@user.ratings.count, 'rating') %> with an average of <%= @user.average_rating %>
  <% end %>
  <p><b>ratings</b></p>
  <% @user.ratings.each do |rating| %>
  <li>
   <%= "#{rating.beer.name} #{rating.score}" %>
   <% if @user == current_user %>
   	<%= link_to "Delete", rating, data: {turbo_method: :delete} %>
   <% end %>
   <%= link_to "Delete", rating, method: :delete, data: {"turbo-method": :delete} %>
   <% end %>
  </li>
  <%= link_to "Back to users", users_path %>
  <% if @user == current_user %>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  
  
  <%= button_to "Destroy this user", @user, method: :delete, class:'btn btn-sm btn-danger' %>
  <% end %>
  <br>
  <p><%= change_account_status(@user.id) %></p>
</div>
